@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #73F5B5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
    background-color: #1d784a;
    margin: 0;
    padding: 30px 10px;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    margin-top: 29px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #2F6349;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 15;
}

.sidebar.open {
    display: block;
}

.sidebar-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.overlay.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.navbutton {
    width: 100px;
    height: 50px;
    background-color: #8fefbf;
    text-align: center;
    border: 2px solid #b2f7d4;
    font-size: 30px;
    color: #1d784a;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    margin-bottom: 20px;
}

.infoUser {
    color: #ffffff;
    background-color: #1d9358;
    margin: 0;
    padding: 20px 10px;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
}

.right-section {
    align-items: flex-end;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .infoUser {
        flex-direction: column;
        align-items: center;
    }
    
    .left-section, .right-section {
        align-items: center;
    }
    
    .right-section {
        margin-top: 20px;
    }
    
    .info-item {
        margin-bottom: 5px;
        
    }
    
    .info-label {
        text-align: center;
    }
    
    .Username, .valuedebts, .Intervaldebts, .displayed {
        text-align: center;
       
    }
}

.ValuesInfoUser{
    color: #8fefbf;
}